[Desktop Entry]
Name=System Tray Timer
Comment=Simple Timer that hides when not needed.
Icon=chronometer

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.systraytimer
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-systraytimer
X-KDE-PluginInfo-Category=Date and Time

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
X-KDE-PluginInfo-EnabledByDefault=true
